<!DOCTYPE html>
<html>

<%- include('./components/root/head.ejs', { title: 'Home' }) %>

<body>
    <div class="page">
        <%- include('./components/root/header.ejs') %>
        <main class="main">

        </main>
        <%- include('./components/root/footer.ejs') %>
    </div>
</body>

</html>