<header class="header">
    <div class="header__wrapper">
        <div class="header__top">
            <div class="container">
                <div class="header__top-inner">
                    <div class="header__delivery">
                        <span class="icon-delivery"></span>
                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, porro.</span>
                    </div>
                    <a href="#" class="header__location" data-popup="location|Choose the city">
                        <span class="icon-location"></span>
                        <span>Madrid</span>
                    </a>
                    <a href="tel:+123456789" class="header__phone">
                        <span class="icon-phone"></span>
                        <span>+1 (234) 567 89</span>
                    </a>
                    <a href="mailto:mail@test.com" class="header__mail">
                        <span class="icon-mail"></span>
                        <span>mail@test.com</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header__mobile">
            <div class="container">
                <div class="header__mobile-inner">
                    <button class="header__burger" data-mobile>
                        <span class="icon-burger"></span>
                    </button>
                    <div class="header__logo">
                        <a href="/index.html"><img src="img/logo.svg" alt="logo image" loading="lazy" width="150" height="50"></a>
                    </div>
                    <button class="header__search" data-search>
                        <span class="icon-search"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="header__middle">
            <div class="container">
                <div class="header__middle-inner">
                    <div class="header__logo">
                        <a href="/index.html"><img src="img/logo.svg" alt="logo image" loading="lazy" width="150" height="50"></a>
                    </div>
                    <div class="blur"></div>
                    <form class="header__form header-form">
                        <div class="header-form__search">
                            <button class="icon-search"></button>
                            <input name="s" type="text" placeholder="Search for...">
                        </div>
                        <ul class="header-form__list search-list">
                            <li class="search-list__item">
                                <a href="#" class="search-list__item-inner">
                                    <div class="search-list__image"><img src="img/products/default.webp" alt="image default"></div>
                                    <div data-title="Name:" class="search-list__name">Super Avana</div>
                                    <div data-title="Price:" class="search-list__price">100.87</div>
                                    <div class="search-list__button"><span>Buy</span></div>
                                </a>
                            </li>
                            <li class="search-list__item">
                                <a href="#" class="search-list__item-inner">
                                    <div class="search-list__image"><img src="img/products/default.webp" alt="image default"></div>
                                    <div data-title="Name:" class="search-list__name">Super Avana</div>
                                    <div data-title="Price:" class="search-list__price">100.87</div>
                                    <div class="search-list__button"><span>Buy</span></div>
                                </a>
                            </li>
                            <li class="search-list__item">
                                <a href="#" class="search-list__item-inner">
                                    <div class="search-list__image"><img src="img/products/default.webp" alt="image default"></div>
                                    <div data-title="Name:" class="search-list__name">Super Avana</div>
                                    <div data-title="Price:" class="search-list__price">100.87</div>
                                    <div class="search-list__button"><span>Buy</span></div>
                                </a>
                            </li>
                            <li class="search-list__item">
                                <a href="#" class="search-list__item-inner">
                                    <div class="search-list__image"><img src="img/products/default.webp" alt="image default"></div>
                                    <div data-title="Name:" class="search-list__name">Super Avana</div>
                                    <div data-title="Price:" class="search-list__price">100.87</div>
                                    <div class="search-list__button"><span>Buy</span></div>
                                </a>
                            </li>
                            <li class="search-list__item">
                                <a href="#" class="search-list__item-inner">
                                    <div class="search-list__image"><img src="img/products/default.webp" alt="image default"></div>
                                    <div data-title="Name:" class="search-list__name">Super Avana</div>
                                    <div data-title="Price:" class="search-list__price">100.87</div>
                                    <div class="search-list__button"><span>Buy</span></div>
                                </a>
                            </li>
                            <li class="search-list__item">
                                <a href="#" class="search-list__item-inner">
                                    <div class="search-list__image"><img src="img/products/default.webp" alt="image default"></div>
                                    <div data-title="Name:" class="search-list__name">Super Avana</div>
                                    <div data-title="Price:" class="search-list__price">100.87</div>
                                    <div class="search-list__button"><span>Buy</span></div>
                                </a>
                            </li>
                            <li class="search-list__item">
                                <a href="#" class="search-list__item-inner">
                                    <div class="search-list__image"><img src="img/products/default.webp" alt="image default"></div>
                                    <div data-title="Name:" class="search-list__name">Super Avana</div>
                                    <div data-title="Price:" class="search-list__price">100.87</div>
                                    <div class="search-list__button"><span>Buy</span></div>
                                </a>
                            </li>
                        </ul>
                    </form>
                    <a href="#" class="header__saved">
                        <span class="icon-heart" data-count="1"></span>
                    </a>
                </div>
            </div>
        </div>
        <nav class="header__nav">
            <div class="container">
                <div class="header__nav-inner">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="#"><span>Categories</span><span class="icon-arrow"></span></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="/antibiotics">antibiotics</a></li>
                                <li class="menu-item"><a href="/bestsellers">bestsellers</a></li>
                                <li class="menu-item"><a href="/mens-health">mens-health</a></li>
                                <li class="menu-item"><a href="/erectile-dysfunction">erectile-dysfunction</a></li>
                                <li class="menu-item"><a href="/alcoholism">alcoholism</a></li>
                                <li class="menu-item"><a href="/skin-care">skin-care</a></li>
                                <li class="menu-item"><a href="/alzheimers-and-parkinsons">alzheimers-and-parkinsons</a></li>
                                <li class="menu-item"><a href="/hypertension">hypertension</a></li>
                                <li class="menu-item"><a href="/cardiovascular-diseases">cardiovascular-diseases</a></li>
                                <li class="menu-item"><a href="/respiratory-tract">respiratory-tract</a></li>
                                <li class="menu-item"><a href="/asthma">asthma</a></li>
                                <li class="menu-item"><a href="/arthritis">arthritis</a></li>
                                <li class="menu-item"><a href="/surgery">surgery</a></li>
                                <li class="menu-item"><a href="/migraine">migraine</a></li>
                                <li class="menu-item"><a href="/muscle-relaxants">muscle-relaxants</a></li>
                                <li class="menu-item"><a href="/womens-health">womens-health</a></li>
                                <li class="menu-item"><a href="/brands">brands</a></li>
                                <li class="menu-item"><a href="/antifungals">antifungals</a></li>
                                <li class="menu-item"><a href="/urinary-tract">urinary-tract</a></li>
                                <li class="menu-item"><a href="/mental-disorders">mental-disorders</a></li>
                                <li class="menu-item"><a href="/neurological-disorders">neurological-disorders</a></li>
                                <li class="menu-item"><a href="/cancer">cancer</a></li>
                                <li class="menu-item"><a href="/diabetes">diabetes</a></li>
                                <li class="menu-item"><a href="/antiallergic">antiallergic</a></li>
                                <li class="menu-item"><a href="/osteoporosis">osteoporosis</a></li>
                                <li class="menu-item"><a href="/anti-inflammatories">anti-inflammatories</a></li>
                                <li class="menu-item"><a href="/antiparasitic">antiparasitic</a></li>
                                <li class="menu-item"><a href="/gastrointestinal-tract">gastrointestinal-tract</a></li>
                                <li class="menu-item"><a href="/birth-control">birth-control</a></li>
                                <li class="menu-item"><a href="/cholesterol">cholesterol</a></li>
                                <li class="menu-item"><a href="/antidepressants">antidepressants</a></li>
                                <li class="menu-item"><a href="/antivirals">antivirals</a></li>
                                <li class="menu-item"><a href="/hiv">hiv</a></li>
                                <li class="menu-item"><a href="/stop-smoking">stop-smoking</a></li>
                                <li class="menu-item"><a href="/anticonvulsants">anticonvulsants</a></li>
                                <li class="menu-item"><a href="/eye-care">eye-care</a></li>
                                <li class="menu-item"><a href="/obesity">obesity</a></li>
                                <li class="menu-item"><a href="/analgesics">analgesics</a></li>
                                <li class="menu-item"><a href="/vitamins-supplements">vitamins-supplements</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">Payment and guarantees</a></li>
                        <li class="menu-item"><a href="#">About us</a></li>
                        <li class="menu-item"><a href="#">Contacts</a></li>
                        <li class="menu-item"><a href="#">FAQ</a></li>
                        <li class="menu-item"><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="header__mobile-menu mobile-menu">
        <div class="mobile-menu__inner">
            <div class="mobile-menu__top">
                <div class="mobile-menu__logo"><a href="/index.html"><img src="img/logo.svg" alt="logo image" loading="lazy" width="150" height="50"></a></div>
                <button class="mobile-menu__close close"><span class="icon-close"></span></button>
            </div>
            <div class="mobile-menu__content">
                <nav class="mobile-menu__nav">
                    <ul class="menu">
                        <li class="menu-item" data-popup="location|Choose the city"><a href="#"><span class="icon-location"></span><span>Location</span><span class="icon-arrow"></span></a></li>
                        <li class="menu-item"><a href="#"><span class="icon-heart"></span><span>Saved</span></a></li>
                    </ul>
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="#"><span class="icon-category"></span><span>Categories</span><span class="icon-arrow"></span></a>
                            <div class="sub-menu">
                                <div class="sub-menu__top">
                                    <button class="back"><span class="icon-arrow"></span><span class="caption">Categories</span></button>
                                    <button class="close"><span class="icon-close"></span></button>
                                </div>
                                <div class="sub-menu__content">
                                    <ul class="menu">
                                        <li class="menu-item"><a href="/antibiotics">antibiotics</a></li>
                                        <li class="menu-item"><a href="/bestsellers">bestsellers</a></li>
                                        <li class="menu-item"><a href="/mens-health">mens-health</a></li>
                                        <li class="menu-item"><a href="/erectile-dysfunction">erectile-dysfunction</a></li>
                                        <li class="menu-item"><a href="/alcoholism">alcoholism</a></li>
                                        <li class="menu-item"><a href="/skin-care">skin-care</a></li>
                                        <li class="menu-item"><a href="/alzheimers-and-parkinsons">alzheimers-and-parkinsons</a></li>
                                        <li class="menu-item"><a href="/hypertension">hypertension</a></li>
                                        <li class="menu-item"><a href="/cardiovascular-diseases">cardiovascular-diseases</a></li>
                                        <li class="menu-item"><a href="/respiratory-tract">respiratory-tract</a></li>
                                        <li class="menu-item"><a href="/asthma">asthma</a></li>
                                        <li class="menu-item"><a href="/arthritis">arthritis</a></li>
                                        <li class="menu-item"><a href="/surgery">surgery</a></li>
                                        <li class="menu-item"><a href="/migraine">migraine</a></li>
                                        <li class="menu-item"><a href="/muscle-relaxants">muscle-relaxants</a></li>
                                        <li class="menu-item"><a href="/womens-health">womens-health</a></li>
                                        <li class="menu-item"><a href="/brands">brands</a></li>
                                        <li class="menu-item"><a href="/antifungals">antifungals</a></li>
                                        <li class="menu-item"><a href="/urinary-tract">urinary-tract</a></li>
                                        <li class="menu-item"><a href="/mental-disorders">mental-disorders</a></li>
                                        <li class="menu-item"><a href="/neurological-disorders">neurological-disorders</a></li>
                                        <li class="menu-item"><a href="/cancer">cancer</a></li>
                                        <li class="menu-item"><a href="/diabetes">diabetes</a></li>
                                        <li class="menu-item"><a href="/antiallergic">antiallergic</a></li>
                                        <li class="menu-item"><a href="/osteoporosis">osteoporosis</a></li>
                                        <li class="menu-item"><a href="/anti-inflammatories">anti-inflammatories</a></li>
                                        <li class="menu-item"><a href="/antiparasitic">antiparasitic</a></li>
                                        <li class="menu-item"><a href="/gastrointestinal-tract">gastrointestinal-tract</a></li>
                                        <li class="menu-item"><a href="/birth-control">birth-control</a></li>
                                        <li class="menu-item"><a href="/cholesterol">cholesterol</a></li>
                                        <li class="menu-item"><a href="/antidepressants">antidepressants</a></li>
                                        <li class="menu-item"><a href="/antivirals">antivirals</a></li>
                                        <li class="menu-item"><a href="/hiv">hiv</a></li>
                                        <li class="menu-item"><a href="/stop-smoking">stop-smoking</a></li>
                                        <li class="menu-item"><a href="/anticonvulsants">anticonvulsants</a></li>
                                        <li class="menu-item"><a href="/eye-care">eye-care</a></li>
                                        <li class="menu-item"><a href="/obesity">obesity</a></li>
                                        <li class="menu-item"><a href="/analgesics">analgesics</a></li>
                                        <li class="menu-item"><a href="/vitamins-supplements">vitamins-supplements</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item"><a href="#"><span class="icon-payment"></span><span>Payment and guarantees</span></a></li>
                        <li class="menu-item"><a href="#"><span class="icon-about"></span><span>About us</span></a></li>
                        <li class="menu-item"><a href="#"><span class="icon-mail"></span><span>Contacts</span></a></li>
                        <li class="menu-item"><a href="#"><span class="icon-faq"></span><span>FAQ</span></a></li>
                        <li class="menu-item"><a href="#"><span class="icon-blog"></span><span>Blog</span></a></li>
                        <li class="menu-item">
                            <a href="#"><span class="icon-info"></span><span>Info</span><span class="icon-arrow"></span></a>
                            <div class="sub-menu">
                                <div class="sub-menu__top">
                                    <button class="back"><span class="icon-arrow"></span><span class="caption">Info</span></button>
                                    <button class="close"><span class="icon-close"></span></button>
                                </div>
                                <div class="sub-menu__content">
                                    <div class="row">
                                        <span class="icon-delivery"></span>
                                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, porro.</span>
                                    </div>
                                    <a href="tel:+123456789" class="row">
                                        <span class="icon-phone"></span>
                                        <span>+1 (234) 567 89</span>
                                    </a>
                                    <a href="mailto:mail@test.com" class="row">
                                        <span class="icon-mail"></span>
                                        <span>mail@test.com</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>