<header class="header">
    <div class="header__wrapper">
        <div class="header__top">
            <div class="container">
                <div class="header__top-inner">
                    <div class="header__delivery">
                        <span class="icon-delivery"></span>
                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, porro.</span>
                    </div>
                    <a href="tel:+123456789" class="header__phone">
                        <span class="icon-phone"></span>
                        <span>+1 (234) 567 89</span>
                    </a>
                    <a href="mailto:mail@test.com" class="header__mail">
                        <span class="icon-mail"></span>
                        <span>mail@test.com</span>
                    </a>
                    <div class="header__location header-location">
                        <span class="icon-location"></span>
                        <span class="header-location__selected">Madrid</span>
                        <span class="icon-arrow"></span>
                        <form class="header-location__dropdown">
                            <div class="header-location__search">
                                <span class="icon-search"></span>
                                <input type="text" placeholder="Search your city...">
                            </div>
                            <ul class="header-location__list">
                                <li class="header-location__item"><button>Madrid</button></li>
                                <li class="header-location__item"><button>Barcelona</button></li>
                                <li class="header-location__item"><button>Valencia</button></li>
                                <li class="header-location__item"><button>Seville</button></li>
                                <li class="header-location__item"><button>Bilbao</button></li>
                                <li class="header-location__item"><button>Málaga</button></li>
                                <li class="header-location__item"><button>Asturias</button></li>
                                <li class="header-location__item"><button>Alicante</button></li>
                                <li class="header-location__item"><button>Las Palmas</button></li>
                                <li class="header-location__item"><button>Zaragoza</button></li>
                                <li class="header-location__item"><button>Murcia</button></li>
                                <li class="header-location__item"><button>Santa Cruz de Tenerife</button></li>
                                <li class="header-location__item"><button>Granada</button></li>
                                <li class="header-location__item"><button>Palma de Mallorca</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__mobile">
            <div class="container">
                <div class="header__mobile-inner">
                    <button class="header__burger">
                        <span class="icon-burger"></span>
                        <span>Menu</span>
                    </button>
                    <div class="header__logo">
                        <a href="/index.html"><img src="img/logo.svg" alt="logo image" loading="lazy" width="150" height="50"></a>
                    </div>
                    <button class="header__search">
                        <span class="icon-search"></span>
                        <span>Search</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="header__middle">
            <div class="container">
                <div class="header__middle-inner">
                    <div class="header__logo">
                        <a href="/index.html"><img src="img/logo.svg" alt="logo image" loading="lazy" width="150" height="50"></a>
                    </div>
                    <form class="header__form header-form">
                        <div class="header-form__search">
                            <button class="icon-search"></button>
                            <input type="text" placeholder="Search for...">
                        </div>
                    </form>
                    <a href="#" class="header__saved">
                        <span class="icon-heart" data-count="1"></span>
                        <span>Saved</span>
                    </a>
                </div>
            </div>
        </div>
        <nav class="header__nav">
            <div class="container">
                <div class="header__nav-inner">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="#"><span>Categories</span><span class="icon-arrow"></span></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="/antibiotics">antibiotics</a></li>
                                <li class="menu-item"><a href="/bestsellers">bestsellers</a></li>
                                <li class="menu-item"><a href="/mens-health">mens-health</a></li>
                                <li class="menu-item"><a href="/erectile-dysfunction">erectile-dysfunction</a></li>
                                <li class="menu-item"><a href="/alcoholism">alcoholism</a></li>
                                <li class="menu-item"><a href="/skin-care">skin-care</a></li>
                                <li class="menu-item"><a href="/alzheimers-and-parkinsons">alzheimers-and-parkinsons</a></li>
                                <li class="menu-item"><a href="/hypertension">hypertension</a></li>
                                <li class="menu-item"><a href="/cardiovascular-diseases">cardiovascular-diseases</a></li>
                                <li class="menu-item"><a href="/respiratory-tract">respiratory-tract</a></li>
                                <li class="menu-item"><a href="/asthma">asthma</a></li>
                                <li class="menu-item"><a href="/arthritis">arthritis</a></li>
                                <li class="menu-item"><a href="/surgery">surgery</a></li>
                                <li class="menu-item"><a href="/migraine">migraine</a></li>
                                <li class="menu-item"><a href="/muscle-relaxants">muscle-relaxants</a></li>
                                <li class="menu-item"><a href="/womens-health">womens-health</a></li>
                                <li class="menu-item"><a href="/brands">brands</a></li>
                                <li class="menu-item"><a href="/antifungals">antifungals</a></li>
                                <li class="menu-item"><a href="/urinary-tract">urinary-tract</a></li>
                                <li class="menu-item"><a href="/mental-disorders">mental-disorders</a></li>
                                <li class="menu-item"><a href="/neurological-disorders">neurological-disorders</a></li>
                                <li class="menu-item"><a href="/cancer">cancer</a></li>
                                <li class="menu-item"><a href="/diabetes">diabetes</a></li>
                                <li class="menu-item"><a href="/antiallergic">antiallergic</a></li>
                                <li class="menu-item"><a href="/osteoporosis">osteoporosis</a></li>
                                <li class="menu-item"><a href="/anti-inflammatories">anti-inflammatories</a></li>
                                <li class="menu-item"><a href="/antiparasitic">antiparasitic</a></li>
                                <li class="menu-item"><a href="/gastrointestinal-tract">gastrointestinal-tract</a></li>
                                <li class="menu-item"><a href="/birth-control">birth-control</a></li>
                                <li class="menu-item"><a href="/cholesterol">cholesterol</a></li>
                                <li class="menu-item"><a href="/antidepressants">antidepressants</a></li>
                                <li class="menu-item"><a href="/antivirals">antivirals</a></li>
                                <li class="menu-item"><a href="/hiv">hiv</a></li>
                                <li class="menu-item"><a href="/stop-smoking">stop-smoking</a></li>
                                <li class="menu-item"><a href="/anticonvulsants">anticonvulsants</a></li>
                                <li class="menu-item"><a href="/eye-care">eye-care</a></li>
                                <li class="menu-item"><a href="/obesity">obesity</a></li>
                                <li class="menu-item"><a href="/analgesics">analgesics</a></li>
                                <li class="menu-item"><a href="/vitamins-supplements">vitamins-supplements</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">Payment and guarantees</a></li>
                        <li class="menu-item"><a href="#">About us</a></li>
                        <li class="menu-item"><a href="#">Contacts</a></li>
                        <li class="menu-item"><a href="#">FAQ</a></li>
                        <li class="menu-item"><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="header__mobile-menu mobile-menu">
        <div class="mobile-menu__inner">
            <div class="mobile-menu__top">
                <div class="mobile-menu__logo"><a href="/index.html"><img src="img/logo.svg" alt="logo image" loading="lazy" width="150" height="50"></a></div>
                <button class="mobile-menu__close close"><span class="icon-close"></span></button>
            </div>
            <div class="mobile-menu__content">
                <nav class="mobile-menu__nav">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="#"><span>Categories</span><span class="icon-arrow"></span></a>
                            <div class="sub-menu">
                                <div class="top">
                                    <button class="back"><span class="icon-arrow"></span><span class="caption">Categories</span></button>
                                    <button class="close"><span class="icon-close"></span></button>
                                </div>
                                <ul class="menu">
                                    <li class="menu-item"><a href="/antibiotics">antibiotics</a></li>
                                    <li class="menu-item"><a href="/bestsellers">bestsellers</a></li>
                                    <li class="menu-item"><a href="/mens-health">mens-health</a></li>
                                    <li class="menu-item"><a href="/erectile-dysfunction">erectile-dysfunction</a></li>
                                    <li class="menu-item"><a href="/alcoholism">alcoholism</a></li>
                                    <li class="menu-item"><a href="/skin-care">skin-care</a></li>
                                    <li class="menu-item"><a href="/alzheimers-and-parkinsons">alzheimers-and-parkinsons</a></li>
                                    <li class="menu-item"><a href="/hypertension">hypertension</a></li>
                                    <li class="menu-item"><a href="/cardiovascular-diseases">cardiovascular-diseases</a></li>
                                    <li class="menu-item"><a href="/respiratory-tract">respiratory-tract</a></li>
                                    <li class="menu-item"><a href="/asthma">asthma</a></li>
                                    <li class="menu-item"><a href="/arthritis">arthritis</a></li>
                                    <li class="menu-item"><a href="/surgery">surgery</a></li>
                                    <li class="menu-item"><a href="/migraine">migraine</a></li>
                                    <li class="menu-item"><a href="/muscle-relaxants">muscle-relaxants</a></li>
                                    <li class="menu-item"><a href="/womens-health">womens-health</a></li>
                                    <li class="menu-item"><a href="/brands">brands</a></li>
                                    <li class="menu-item"><a href="/antifungals">antifungals</a></li>
                                    <li class="menu-item"><a href="/urinary-tract">urinary-tract</a></li>
                                    <li class="menu-item"><a href="/mental-disorders">mental-disorders</a></li>
                                    <li class="menu-item"><a href="/neurological-disorders">neurological-disorders</a></li>
                                    <li class="menu-item"><a href="/cancer">cancer</a></li>
                                    <li class="menu-item"><a href="/diabetes">diabetes</a></li>
                                    <li class="menu-item"><a href="/antiallergic">antiallergic</a></li>
                                    <li class="menu-item"><a href="/osteoporosis">osteoporosis</a></li>
                                    <li class="menu-item"><a href="/anti-inflammatories">anti-inflammatories</a></li>
                                    <li class="menu-item"><a href="/antiparasitic">antiparasitic</a></li>
                                    <li class="menu-item"><a href="/gastrointestinal-tract">gastrointestinal-tract</a></li>
                                    <li class="menu-item"><a href="/birth-control">birth-control</a></li>
                                    <li class="menu-item"><a href="/cholesterol">cholesterol</a></li>
                                    <li class="menu-item"><a href="/antidepressants">antidepressants</a></li>
                                    <li class="menu-item"><a href="/antivirals">antivirals</a></li>
                                    <li class="menu-item"><a href="/hiv">hiv</a></li>
                                    <li class="menu-item"><a href="/stop-smoking">stop-smoking</a></li>
                                    <li class="menu-item"><a href="/anticonvulsants">anticonvulsants</a></li>
                                    <li class="menu-item"><a href="/eye-care">eye-care</a></li>
                                    <li class="menu-item"><a href="/obesity">obesity</a></li>
                                    <li class="menu-item"><a href="/analgesics">analgesics</a></li>
                                    <li class="menu-item"><a href="/vitamins-supplements">vitamins-supplements</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item"><a href="#">Payment and guarantees</a></li>
                        <li class="menu-item"><a href="#">About us</a></li>
                        <li class="menu-item"><a href="#">Contacts</a></li>
                        <li class="menu-item"><a href="#">FAQ</a></li>
                        <li class="menu-item"><a href="#">Blog</a></li>
                    </ul>
                </nav>
                <a href="#" class="mobile-menu__saved">
                    <span class="icon-heart" data-count="1"></span>
                    <span>Saved</span>
                </a>
                <div class="mobile-menu__delivery">
                    <span class="icon-delivery"></span>
                    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, porro.</span>
                </div>
                <div class="mobile-menu__row">
                    <a href="tel:+123456789" class="mobile-menu__phone">
                        <span class="icon-phone"></span>
                        <span>+1 (234) 567 89</span>
                    </a>
                    <a href="mailto:mail@test.com" class="mobile-menu__mail">
                        <span class="icon-mail"></span>
                        <span>mail@test.com</span>
                    </a>
                </div>
                <div class="mobile-menu__location mobile-menu-location">
                    <span class="icon-location"></span>
                    <span class="mobile-menu-location__selected">Madrid</span>
                    <form class="mobile-menu-location__dropdown">
                        <div class="mobile-menu-location__search">
                            <span class="icon-search"></span>
                            <input type="text" placeholder="Search your city...">
                        </div>
                        <ul class="mobile-menu-location__list">
                            <li class="mobile-menu-location__item"><button>Madrid</button></li>
                            <li class="mobile-menu-location__item"><button>Barcelona</button></li>
                            <li class="mobile-menu-location__item"><button>Valencia</button></li>
                            <li class="mobile-menu-location__item"><button>Seville</button></li>
                            <li class="mobile-menu-location__item"><button>Bilbao</button></li>
                            <li class="mobile-menu-location__item"><button>Málaga</button></li>
                            <li class="mobile-menu-location__item"><button>Asturias</button></li>
                            <li class="mobile-menu-location__item"><button>Alicante</button></li>
                            <li class="mobile-menu-location__item"><button>Las Palmas</button></li>
                            <li class="mobile-menu-location__item"><button>Zaragoza</button></li>
                            <li class="mobile-menu-location__item"><button>Murcia</button></li>
                            <li class="mobile-menu-location__item"><button>Santa Cruz de Tenerife</button></li>
                            <li class="mobile-menu-location__item"><button>Granada</button></li>
                            <li class="mobile-menu-location__item"><button>Palma de Mallorca</button></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>