<section class="popup">
    <div class="popup__inner">
        <div class="popup__head">
            <div class="title">Choose the city</div>
            <button class="close"><span class="icon-close"></span></button>
        </div>
        <div class="popup__content location">
            <div class="location__inner">
                <div class="location__detect">
                    <button class="btn btn_prim">Detect your city</button> <span>by GPS</span>
                </div>
                <form class="location__form location-form">
                    <div class="location-form__search">
                        <button class="icon-search"></button>
                        <input type="text" placeholder="Search your city...">
                    </div>
                </form>
                <ul class="location__list">
                    <li><button>Madrid</button></li>
                    <li><button>Barcelona</button></li>
                    <li><button>Valencia</button></li>
                    <li><button>Seville</button></li>
                    <li><button>Bilbao</button></li>
                    <li><button>Málaga</button></li>
                    <li><button>Asturias</button></li>
                    <li><button>Alicante</button></li>
                    <li><button>Las Palmas</button></li>
                    <li><button>Zaragoza</button></li>
                    <li><button>Murcia</button></li>
                    <li><button>Santa Cruz de Tenerife</button></li>
                    <li><button>Granada</button></li>
                    <li><button>Palma de Mallorca</button></li>
                </ul>
            </div>
        </div>
    </div>
</section>