<section class="popup">
    <div class="popup__inner">
        <div class="popup__head"><button class="close"><span class="icon-close"></span></button></div>
        <div class="popup__content location">
            <div class="location__inner">
                <h2 class="location__title">Choose the city</h2>
                <div class="location__detect">
                    <button class="detect-city">Detect your city</button> <span>by GPS</span>
                </div>
                <form class="location__form location-form">
                    <div class="location-form__search">
                        <button class="icon-search"></button>
                        <input type="text" placeholder="Search your city...">
                    </div>
                </form>
                <ul class="location__list">
                    <li><button>Madrid</button></li>
                    <li><button>Barcelona</button></li>
                    <li><button>Valencia</button></li>
                    <li><button>Seville</button></li>
                    <li><button>Bilbao</button></li>
                    <li><button>Málaga</button></li>
                    <li><button>Asturias</button></li>
                    <li><button>Alicante</button></li>
                    <li><button>Las Palmas</button></li>
                    <li><button>Zaragoza</button></li>
                    <li><button>Murcia</button></li>
                    <li><button>Santa Cruz de Tenerife</button></li>
                    <li><button>Granada</button></li>
                    <li><button>Palma de Mallorca</button></li>
                </ul>
            </div>
        </div>
        <div class="popup__content other">
            <div class="other__inner">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat ullam, dolorem itaque optio molestiae possimus officia sunt, sint quae excepturi quidem necessitatibus repudiandae iste facere obcaecati hic fugit est nostrum.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat ullam, dolorem itaque optio molestiae possimus officia sunt, sint quae excepturi quidem necessitatibus repudiandae iste facere obcaecati hic fugit est nostrum.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat ullam, dolorem itaque optio molestiae possimus officia sunt, sint quae excepturi quidem necessitatibus repudiandae iste facere obcaecati hic fugit est nostrum.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat ullam, dolorem itaque optio molestiae possimus officia sunt, sint quae excepturi quidem necessitatibus repudiandae iste facere obcaecati hic fugit est nostrum.</p>
            </div>
        </div>
    </div>
</section>