<section class="cards">
    <div class="container">
        <div class="cards__inner">
            <ul class="cards__list">
                <% if (!locals.count) locals.count = 3 %>
                <% for (let i = 0; i < locals.count; i++) { %>
                <li class="cards__item">
                    <div class="cards__icon"><span class="icon-delivery"></span></div>
                    <div class="cards__content">
                        <p class="cards__title">Lorem, ipsum dolor.</p>
                        <p class="cards__text text_prim">Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</section>