<section class="content">
    <div class="container">
        <div class="content__inner">
            <h1>HTML Ipsum Presents</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed temporibus quam, sapiente ullam, quod odio laboriosam quo, nulla odit non repellat fuga nostrum dolor aspernatur nisi pariatur minima eveniet?</p>
            <h2>Header Level 2</h2>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
            </ul>
            <h3>Header Level 3</h3>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>
            <h4>Header Level 4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ullam beatae culpa quod nemo nihil animi aut, excepturi iure voluptatum cupiditate enim magnam deleniti provident obcaecati eligendi veritatis fugit optio.</p>
        </div>
    </div>
</section>