<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__content">
                <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
                <p class="text_prim">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quod fugiat sint ut ducimus, ratione dolore totam beatae ex dignissimos soluta hic aperiam dolores praesentium debitis nostrum aliquam iste eaque.</p>
                <div class="hero__btns">
                    <button class="btn btn_prim">Categories</button>
                    <button class="btn">Contacts</button>
                    <button class="btn">Lorem</button>
                </div>
            </div>
            <div class="hero__image">
                <img src="img/hero/hero.webp" alt="hero image" loading="lazy" width="700" height="361">
            </div>
        </div>
    </div>
</section>