<section class="product">
    <div class="container">
        <div class="product__inner">
            <div class="product__content">
                <h1 class="title_prim">Nootropil</h1>
                <div class="product__article"><span>Vendor code:</span> <span class="product__article-value">56386</span></div>
            </div>
            <div class="product__tab tab">
                <div class="tab__nav">
                    <button class="_active" data-for="about"><span class="icon-info"></span><span>About</span></button>
                    <button data-for="relevant"><span class="icon-pills"></span><span>Relevant</span></button>
                    <button data-for="feedback"><span class="icon-feedback"></span><span>Feedback</span></button>
                </div>
                <div class="product__item product-item">
                    <div class="product-item__left">
                        <div class="product-item__left-inner">
                            <div class="product-item__top">
                                <div class="product-item__image">
                                    <img src="img/products/test.webp" alt="image product" loading="lazy" width="207" height="180">
                                    <div class="product-item__discount"><span class="product-item__discount-text">Discount</span><span class="product-item__discount-value">-31%</span></div>
                                </div>
                            </div>
                            <!-- <div class="product-item__bottom">
                                
                            </div> -->
                        </div>
                    </div>
                    <div class="product-item__right">
                        <div class="product-item__right-inner">
                            <div data-id="about" class="tab__body _active product-item__about product-about">
                                <div class="product-about__top">
                                    <div class="product-about__actions">
                                        <button class="product-about__rating" data-for="feedback">
                                            <div class="product-about__stars">
                                                <span class="icon-star-fill"></span>
                                                <span class="icon-star-fill"></span>
                                                <span class="icon-star-fill"></span>
                                                <span class="icon-star-fill"></span>
                                                <span class="icon-star-fill"></span>
                                            </div>
                                            <div class="product-about__reviews">(<span class="product-about__reviews-value">71</span>)</div>
                                        </button>
                                        <button class="product-about__save"><span class="icon-heart"></span></button>
                                    </div>
                                    <div class="product-about__stock">In stock — <span class="product-about__stock-value">5</span> pieces</div>
                                    <ul class="product-about__list">
                                        <li class="product-about__item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                        <li class="product-about__item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                        <li class="product-about__item">Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                                        <li class="product-about__item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, voluptatibus.</li>
                                        <li class="product-about__item">Lorem ipsum dolor sit amet consectetur.</li>
                                    </ul>
                                    <form class="product-about__form product-form">
                                        <div class="product-form__selects">
                                            <div class="product-form__dose">
                                                <span>Dose</span>
                                                <div class="select">
                                                    <button class="select__selected"><span class="select__selected-value">Select</span><span class="icon-arrow"></span></button>
                                                    <div class="select__options">
                                                        <button>nootropil 400mg * 30</button>
                                                        <button>nootropil 400mg * 60</button>
                                                        <button>nootropil 400mg * 90</button>
                                                        <button>nootropil 400mg * 120</button>
                                                        <button>nootropil 400mg * 180</button>
                                                        <button>nootropil 400mg * 270</button>
                                                        <button>nootropil 400mg * 360</button>
                                                        <button>nootropil 800mg * 30</button>
                                                        <button>nootropil 800mg * 60</button>
                                                        <button>nootropil 800mg * 90</button>
                                                        <button>nootropil 800mg * 120</button>
                                                        <button>nootropil 800mg * 180</button>
                                                        <button>nootropil 800mg * 270</button>
                                                        <button>nootropil 800mg * 360</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-form__count">
                                                <span>Count</span>
                                                <div class="count">
                                                    <button class="count__btn count__decr">-</button>
                                                    <input class="count__input" type="number" value="1" min="1" max="20" required>
                                                    <button class="count__btn count__incr">+</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-form__submit">
                                            <div class="product-form__price">
                                                <div class="product-form__old-price"><span>Old price:</span> <del><span class="product-form__old-price-value">50</span> €</del></div>
                                                <div class="product-form__current-price"><span>From</span> <span class="product-form__current-price-value">34.36</span> €</div>
                                            </div>
                                            <button class="btn btn_prim product-form__buy">Buy</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div data-id="relevant" class="tab__body product-item__relevant product-relevant">
                            </div>
                            <div data-id="feedback" class="tab__body product-item__feedback product-feedback">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>