<section class="product">
    <div class="container">
        <div class="product__inner">
            <div class="product__content">
                <h1 class="title_prim">Nootropil</h1>
            </div>
            <div class="product__tab tab">
                <div class="tab__nav">
                    <button class="_active" data-for="description"><span class="icon-info"></span><span>Description</span></button>
                    <button data-for="relevant"><span class="icon-pills"></span><span>Relevant</span></button>
                    <button data-for="feedback"><span class="icon-feedback"></span><span>Leave a feedback</span></button>
                </div>
                <div class="product__item product-item">
                    <div class="product-item__left">
                        <div class="product-item__image">
                            <img src="img/products/test.webp" alt="image product" loading="lazy" width="207" height="180">
                            <div class="product-item__discount"><span class="product-item__discount-text">Discount</span><span class="product-item__discount-value">-31%</span></div>
                            <button class="product-item__save"><span class="icon-heart"></span></button>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__price">
                                <del class="product-item__old-price">50 €</del>
                                <div class="product-item__current-price">34.36 €</div>
                            </div>
                            <div class="product-item__stock"><span class="icon-mark"></span><span class="product-item__stock-text">5 in stock</span></div>
                        </div>
                    </div>
                    <div class="product-item__right">
                        <div data-id="description" class="tab__body _active product-item__description">
                            <div class="product-item__description-inner">
                                <button class="product-item__buy btn btn_prim"><span class="icon-cart-fill"></span>To Cart</button>
                            </div>
                        </div>
                        <div data-id="relevant" class="tab__body product-item__relevant">
                            <div class="product-item__relevant-inner">

                            </div>
                        </div>
                        <div data-id="feedback" class="tab__body product-item__feedback">
                            <div class="product-item__feedback-inner">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>