<section class="subscribe">
    <div class="container">
        <div class="subscribe__inner">
            <div class="subscribe__content">
                <h2 class="title_prim">Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste eius ullam ipsam placeat reiciendis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="subscribe__tip">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <form class="subscribe__form form">
                <div class="form__row">
                    <div class="form__column">
                        <div class="form__subscribe">
                            <input type="email" name="email" required placeholder="Email">
                            <button class="btn btn_prim" type="submit"><span class="icon-send"></span><span>Subscribe</span></button>
                        </div>
                        <label class="form__check"><input type="checkbox" required><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptatem.</span></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>